body {
	background-color: #f0f0f0;
	margin: 10px;
	font-family: Helvetica;
	font-size: 13pt;
}

td {
	vertical-align: top;
}

a {
	text-decoration: underline;
	color: #075eb3;
}

img {
	border: none;
}


#mainframe {
	boder-left: 1px solid #a0a0a0;
	boder-right: 1px solid #a0a0a0;
	boder-bottom: 1px solid #a0a0a0;
	padding: 10px;
	margin-top: 0px;
	background-color: #ffffff;
	margin: auto;
}

#header {
	background-color: #065199;
	color: #ffffff;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	}
	
#subtitle {
	padding-top: 0px;
	margin-top: 0px;
	font-weight: bold;
}

h2 {
	background-color: #f0f0f0;
	color: #065199;
}

h3 {
	background-color: #f0f0f0;
}

span.emph {
	text-decoration: none;
	font-weight: bold;
}

span.note {
	text-decoration: none;
	font-weight: bold;
}

span.parhead {
	text-decoration: none;
	font-weight: bold;
}

span.code {
	font-family: Courier;
}

p {
	margin-top: 0px;
}

p.code {
	margin: 1em 10px 1em 10px;
	padding: 5px 10px 5px 10px;
	background-color: #f0f0f0;
	border: 1pt dashed #808080;
	font-family: Courier;
}

p.reference span.title {
	font-weight: bold;
}

div.license {
	margin: 1em 10px 1em 10px;
	padding: 5px 10px 5px 10px;
	background-color: #f0f0f0;
	border: 1pt dashed #808080;
	font-family: Courier;
}

a.toch2 {
	display: block;
	margin-left: 10px;
	font-weight: bold;
}

a.toch3 {
	display: block;
	margin-left: 20px;
}


table, th, td {
	border-collapse: collapse;
}

table {
	margin: 0.5em 1em 0.5em 1em;
}

td {
	margin: 0px;
	padding: 2px;
	border: 1px solid #808080;
	/*border-top: 1px solid #808080;*/
}

table thead td {
	background-color: #f0f0f0;
	font-weight: bold;
}
